docs/

circuit/Prover.toml
circuit/target/

.env
.env.local
.env*.local
scripts/.env
scripts/.env.local


frontend/.next/
frontend/out/

# Aggregation data 
frontend/aggregation.json

# Dependencies
node_modules/
frontend/node_modules/
scripts/node_modules/

circuit/aggregation.json

# OS
.DS_Store
